@import '../assets/colorScheme.less';

* {
    box-sizing : border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: var(--background-color);
}

.Layout {
    width: 1150px;
    margin: auto;
    display: flex;
    align-items: center;

    .controls {
        width: 250px;
        height: 250px;
        flex-shrink: 0;
        margin: auto 70px auto 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        .btn {
            cursor: pointer;
            border: 1px solid transparent;
            background: var(--input-color);
            color: black;
            border-radius: 4px;
            height: 30px;
            &:hover, &:active {
                color: white;
            }
            &:active {
                border-color: var(--input-color);
                background: var(--background-color);
            }
        }

        .inputLabel {
            color: var(--text-color);
            margin-bottom: 5px;
        }
        .rangeInputContainer {
            flex-shrink: 0;
            width: 210px;
            color: var(--input-color);
            display: flex;
            justify-content: space-between;
        }

        input[type='range'] {
            width: 180px;
        }

        .mainButtons {
            height: 40px;
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            .start {
                border: 1px solid lightgreen;
                color: lightgreen;
                height: 30px;
                border-radius: 5px;
                background: transparent;
                &:active {
                    background:lightgreen;
                }
            }
            .pause {
                border: 1px solid orange;
                color: orange;
                border-radius: 5px;
                height: 30px;
                background: transparent;
                &:active {
                    background: orange;
                }
            }
            .stop {
                border: 1px solid tomato;
                color: tomato;
                border-radius: 5px;
                height: 30px;
                background: transparent;
                &:active {
                    background: tomato;
                }
            }
            .start, .pause, .stop {
                cursor: pointer;
                &:hover {
                    color: white;
                }
                &:active {
                    color: black;
                }
            }
        }
    }
    :global {
        .grid {
            margin: auto 0;
            display: flex;
            justify-content: center;
            align-items: center;
            .d3Grid {
                fill: var(--field-bg);
                .cell {
                    fill: var(--rect-color);
                    stroke: #2f444f;
                    stroke-width: 0;
                    transition: stroke-width .2s linear;
                    &:hover {
                        stroke: #2f444f;
                        stroke-width: 1px;
                        cursor: pointer;
                    }
                    &.active {
                        fill: var(--rect-color-active);
                    }
                }
            }
        }
    }
}
